<launch>
    <!-- Launches some of the base utils needed to get the planner to run -->
    <arg name="sim" default="true" />
    <arg name="ip" default="127.0.0.1" />
    <arg name="robot" default="ur5" />
    <arg name="use_camera" default="false" />
    <arg name="use_servoing" default="true" />

    <param name="use_camera" value="$(arg use_camera)" />
    <param name="robot_ip" value="$(arg ip)" />
    <param name="use_servoing" value="$(arg use_servoing)" />

    <param name="/segment_color" value="blue" />

    <group unless="$(arg sim)">
        <include file="$(find ur_modern_driver)/launch/ur5e_bringup.launch">
            <arg name="robot_ip" value="$(arg ip)" />
        </include>
        <include file="$(find localisation)/launch/localisation.launch">
            <arg name="robot_name" value="$(arg robot)" />
        </include>
    </group>
    <group if="$(arg sim)">
        <include file="$(find localisation)/launch/localisation_sim.launch">
            <arg name="robot_name" value="$(arg robot)" />
            <arg name="use_camera" value="$(arg use_camera)" />
        </include>
    </group>
    <group if="$(arg use_camera)">
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />
        <include file="$(find rgb_segmentation)/launch/rgb_segmentation.launch" />
        <include file="$(find sawyer_planner)/launch/pcl_filter_nodelet.launch" />
        <node name="goal_updater" pkg="sawyer_planner" type="goal_manager_visual.py" unless="$(arg sim)" />
        <node name="branch_orientation" pkg="sawyer_planner" type="branch_orientation.py" unless="$(arg sim)" />
        <remap from="image" to="/camera/color/image_raw" />
        <node name="image_display" pkg="image_view" type="image_view" />
    </group>



</launch>